<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <img src="AgroDigital_Logo.png" alt="AgroDigital Logo">
    </div>

    <div class="social-icons">
      <a href="https://www.facebook.com" target="_blank" class="social-icon facebook">
        <div class="icon-circle">f</div>
      </a>
      <a href="https://www.instagram.com" target="_blank" class="social-icon linkedin">
        <div class="icon-circle">in</div>
      </a>
      <a href="https://www.twitter.com" target="_blank" class="social-icon twitter">
        <div class="icon-circle">𝕏</div>
      </a>
    </div>

    <div class="footer-links" *ngIf="isTranslationsLoaded">
      <a href="#" class="footer-link">{{ 'FOOTER.PRIVACY_POLICY' | translate }}</a>
      <a href="#" class="footer-link">{{ 'FOOTER.COOKIE_POLICY' | translate }}</a>
      <a href="#" class="footer-link">{{ 'FOOTER.LEGAL_NOTICE' | translate }}</a>
    </div>

    <div class="copyright" *ngIf="isTranslationsLoaded">
      © {{ currentYear }} GanTrace. {{ 'FOOTER.ALL_RIGHTS_RESERVED' | translate }}
    </div>
  </div>
</footer>
