<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <img src="AgroDigital_Logo.png" alt="AgroDigital Logo">
    </div>
    
    <div class="social-icons">
      <a href="https://www.facebook.com" target="_blank" class="social-icon facebook">
        <div class="icon-circle">f</div>
      </a>
      <a href="https://www.instagram.com" target="_blank" class="social-icon linkedin">
        <div class="icon-circle">in</div>
      </a>
      <a href="https://www.twitter.com" target="_blank" class="social-icon twitter">
        <div class="icon-circle">𝕏</div>
      </a>
    </div>
    
    <div class="footer-links">
      <a href="#" class="footer-link">Política de privacidad</a>
      <a href="#" class="footer-link">Política de cookies</a>
      <a href="#" class="footer-link">Aviso Legal</a>
    </div>
    
    <div class="copyright">
      © 2025 GanTrace. All Rights Reserved.
    </div>
  </div>
</footer>