<div class="login-container">
    <header class="login-header">
      <img src="AgroDigital_Logo.png" alt="AgroDigital" class="logo" />
      <p class="descripcion">
        Accede a AgroDigital, la plataforma web que digitaliza la gestión del ganado, con módulos de salud, productividad y trazabilidad para optimizar los procesos ganaderos.
      </p>
    </header>
  
    <main class="login-main">
      <section class="imagen">
        <h1>AgroDigital</h1>
        <img src="PortadaIS.png" alt="Ganadero feliz con ganado" />
      </section>
  
      <section class="formulario">
        <h2>Iniciar Sesión</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <label>Correo electrónico o número telefónico</label>
          <input type="text" formControlName="email" placeholder="Ingresa tu correo o número" />
  
          <label>Contraseña</label>
          <div class="input-password">
            <input [type]="showPassword ? 'text' : 'password'" formControlName="password" placeholder="Ingresa tu contraseña" />
            <span class="toggle" (click)="togglePassword()">👁️</span>
          </div>
  
          <button type="submit" [disabled]="loginForm.invalid">Iniciar Sesión</button>
        </form>
  
        <p class="politicas">
          Al continuar, usted accede a nuestros
          <a href="#">Términos de uso</a> y
          <a href="#">Política de privacidad</a>.
        </p>
  
        <a href="#" class="forgot">¿Olvidaste tu contraseña?</a>
        <div class="linea"></div>
        <p class="nuevo">¿Nuevo con nosotros?</p>
        <button class="crear" routerLink="/register">Crear cuenta</button>
      </section>
    </main>
  
    <footer>
      <p>Contacto</p>
      <p>Redes Sociales</p>
      <p>Conócenos</p>
    </footer>
  </div>
  